{% extends 'store/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container mt-2">
        <fieldset class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.name|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                {{ form.url_slug|as_crispy_field }}
                {{ form.meta_title|as_crispy_field }}
                {{ form.meta_description|as_crispy_field }}
                {{ form.products|as_crispy_field }}
                <button type="submit" class="btn btn-info mt-2">Edit</button>
                <a class="btn btn-outline-secondary mt-2" href="{% url 'category-detail' object.pk %}">Cancel</a>
            </form>
        </fieldset>
    </div>

    <script>
        $(document).ready(function () {
            $('#id_products').select2({
                placeholder: 'Select products',
                width: '100%',
            });
        });
    </script>

{% endblock %}
