.searchbar {
    position: relative;
    z-index: 2;
}

.search-btn {
    border: none;
    background-color: transparent;
    position: relative;
    right: 35px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
}

.cart-button {
    max-width: 140px;
}

@media (max-width: 1200px) {
    .cart-button {
        margin-top: 10px;
    }
}
