{% extends 'store/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    
    <div class="container order-summary">
    <h2>Checkout</h2>
    {% include 'payment/order_summary.html' %}

        <div class="card mt-3">
            <div class="card-header">
                Shipping Info
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'billing_info' %}">
                    {% csrf_token %}
                    {{ shipping_form|crispy }}

                    <button type="submit" class="btn btn-info mt-3">
                        Continue to Billing
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
