{% extends 'store/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3 class="mt-2 mb-2">Unshipped items</h3>
                <table class="table table-stripped table-hover table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Price</th>
                        <th scope="col">Customer email</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orders %}
                        <tr>
                            <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                            <td>${{ item.amount_paid }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.date_ordered }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="shipping_status" value="true">
                                    <input type="hidden" name="num" value={{ item.id }}>
                                    <button type="submit" class="btn btn-info btn-sm">Mark as Shipped</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
