{% extends 'store/base.html' %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card mt-4 mx-auto">
                    <div class="card-header">
                        Order {{ order.id }} - ${{ order.amount_paid }}
                    </div>
                    <div class="card-body">
                        <p><b>Email</b>: {{ order.email }}</p>
                        <p>
                            {% if order.date_shipped %}
                                <b>Date Shipped</b>: {{ order.date_shipped }}
                            {% else %}
                                <b>Date Ordered</b>: {{ order.date_ordered }}
                            {% endif %}
                        </p>
                        <p><b>Full Name</b>: {{ order.full_name }}</p>
                        <p><b>Shipping Address</b>:
                        <pre class="fs-5">{{ order.shipping_address }}</pre>
                        </p>

                        {% for item in items %}
                            {{ item.product }} - {{ item.quantity }} pcs. - ${{ item.price }}<br>
                        {% endfor %}

                        {% if not order.shipped %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="true">
                            <button type="submit" class="btn btn-success mt-3">Mark As Shipped</button>
                        </form>
                        {% else %}
                          <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <button type="submit" class="btn btn-danger mt-3">Mark As Not Shipped</button>
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

