<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Thank you for your order, {{ order.full_name }}!</h2>
    <p>Order #{{ order.pk }}</p>
    
    <h3>Order Summary</h3>
    <ul>
    {% for item in cart_items %}
        {% if not item.variant %}
            {% if item.product.is_on_sale %}
                <li>{{ item.product.name }} x {{ item.quantity }} - ${{ item.product.sale_price }}</li>
            {% else %}
                <li>{{ item.product.name }} x {{ item.quantity }} - ${{ item.price }}</li>
            {% endif %}
            
        {% else %}
            {% if item.variant.is_on_sale %}
                <li>{{ item.product.name }} x {{ item.quantity }} - ${{ item.variant.sale_price }}</li>
            {% else %}
                <li>{{ item.product.name }} x {{ item.quantity }} - ${{ item.variant.price }}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    
    <p class="fs-2"><strong>Total: ${{ order.amount_paid }}</strong></p>
    
    <h3>Shipping Address</h3>
    <pre>{{ order.shipping_address }}</pre>

</body>
</html>