{% extends 'store/base.html' %}
{% block content %}

    <div class="container product-page mt-5 cart-summary">
        <section class="cart-header">
            <h4 class="product-header">Product</h4>
            <h4 class="product-quantity">Quantity</h4>
            <h4>Total</h4>
        </section>
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="cart-info">
                    <section class="product-info">
                        <div class="image-container">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                        </div>
                        <div class="product-desc">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text fs-5"><b>Price: </b>
                                <small class="product-price">
                                    {% if not product.is_on_sale %}
                                        {{ product.price }}
                                    {% else %}
                                        {{ product.sale_price }}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </section>

                    <section class="quantity-section">
                        <p>Quantity</p>
                        <select class="form-select" id="select{{ product.id }}">

                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    <option selected>{{ value }}</option>
                                {% endif %}
                            {% endfor %}

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button type="button" data-index="{{ product.id }}"
                                class="btn btn-secondary update-cart">Update
                        </button>

                        <button type="button" data-index="{{ product.id }}"
                                class="btn btn-danger delete-product">Remove
                        </button>
                    </section>

                    <section class="total-sum-per-product">
                        total
                    </section>
                </div>
            {% endfor %}
            <h2 class="total-price">TOTAL SUM: {{ totals }}</h2>
        {% else %}
            <h3>The cart is empty</h3>
        {% endif %}

    </div>
    
    <script>
    // Update
        $(document).on('click', '.update-cart', function (e) {
            e.preventDefault();

            let productID = $(this).data('index');

            $.ajax({
                type: 'POST',
                url: "{% url 'cart_update' %}",
                data: {
                    product_id: productID,
                    product_qty: $('#select' + productID + ' option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json) {
                    location.reload();
                },

                error: function (xhr, errmsg, err) {
                    console.log("Error:", xhr.responseText);
                }
            });
        });
    </script>


    <script>
    // Delete
        $(document).on('click', '.delete-product', function (e) {
            e.preventDefault();

            let productID = $(this).data('index');

            $.ajax({
                type: 'POST',
                url: "{% url 'cart_delete' %}",
                data: {
                    product_id: productID,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json) {
                    location.reload();
                },

                error: function (xhr, errmsg, err) {
                    console.log("Error:", xhr.responseText);
                }
            });
        });
    </script>

{% endblock %}





{#    <script>#}
{#        let prices = document.querySelectorAll(".product-price");#}
{#        let totalPrice = 0;#}
{##}
{#        prices.forEach(price => {#}
{#            let priceValue = parseFloat(price.textContent.trim());#}
{#            if (!isNaN(priceValue)) {#}
{#                totalPrice += priceValue;#}
{#            }#}
{#        });#}
{##}
{#        let h2PriceEl = document.querySelector(".total-price");#}
{#        h2PriceEl.textContent = `Grand Total: ${totalPrice.toFixed(2)}`;#}
{#    </script>#}