<section class="py-5 products-grid">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if products %}
                {% for product in products %}
                    <div class="col mb-5">
                    <a href="{% url 'product-detail' slug=product.url_slug %}">
                        <div class="card h-100 product-card">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..."/>
                            <!-- Product details-->
                            <div class="product-card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {% if not product.is_on_sale %}
                                        {{ product.price }} €
                                    {% else %}
                                        <div class="badge bg-dark text-white position-absolute"
                                             style="top: 0.5rem; right: 0.5rem">Sale
                                        </div>
                                        <s>{{ product.price }}</s>
                                        {{ product.sale_price }} €
                                    {% endif %}
                                    <br>
{#                                    ID: {{ product.pk }}#}
                                    <br>
                                </div>
                            </div>
                            </a>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto"
                                       href="{% url 'product-detail' product.pk %}">
                                        View
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No products found</h3>
            {% endif %}
        </div>
        <div class="pagination-btn">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-1 btn-sm" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-1 btn-sm" href="?page={{ page_obj.previous_page_number }}"><</a>
                {% endif %}
    
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-1 btn-sm" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-1 btn-sm" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-1 btn-sm" href="?page={{ page_obj.next_page_number }}">></a>
                    <a class="btn btn-outline-info mb-1 btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
