{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="container product-page mt-5">
        <div class="card mb-3" style="max-width: 1400px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ object.image.url }}" class="img-fluid rounded-start" alt="{{ object.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center>
                            <h1 class="card-title">{{ object.name }}</h1>

                            <p class="card-text fs-4">
                                <b>Price: </b>
                                <span id="product-price">
                                    {% if not product.is_on_sale %}
                                        {{ product.price }} €
                                    {% else %}
                                        <s class="fs-4">{{ product.price }} €</s><br>
                                        <small class="fs-4 text-danger">{{ product.sale_price }} €</small>
                                    {% endif %}
                                </span>
                            </p>

                            <p>
                                <span class="card-text fs-5"><b>Model: </b></span>{{ product.model }}<br>
                                <span class="card-text fs-5 product-sku"><b>Code: </b>{{ product.sku }}</span><br>
                                <span class="card-text fs-5 product-availability"><b>In stock: </b>{{ product.is_available|yesno:"Yes,No" }}</span><br>
                            </p>
                            <div class="product-add">
                                <p>Quantity</p>
                                <select class="form-select" id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>

                                <button type="button" value="{{ product.id }}"
                                        class="btn btn-secondary mb-3" id="add-cart">Add to Cart
                                </button>
                            </div>
                            {% for option in options %}
                                <div class="mb-3">
                                    <label for="option-{{ option.id }}" class="form-label">
                                        <strong>{{ option.name }}:</strong>
                                    </label>
                                    <select
                                            id="option-{{ option.id }}"
                                            name="option_{{ option.id }}"
                                            class="form-select product-option"
                                            data-option-id="{{ option.id }}"
                                    >
                                        {% for value in option.option_values.all %}
                                            <option value="{{ value.id }}">{{ value.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}

                            <p class="card-text">
                                {{ object.description }}
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();

            let productID = $(this).val();
            let productQty = $('#qty-cart option:selected').val();

            // Prepare the POST data
            let postData = {
                product_id: productID,
                product_qty: productQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            };

            // Loop through selected product options and add them to postData
            $('.product-option').each(function () {
                const optionId = $(this).data('option-id');
                const valueId = $(this).val();
                postData[`option_${optionId}`] = valueId;
            });

            // Send the AJAX POST request
            $.ajax({
                type: 'POST',
                url: "{% url 'cart_add' %}",
                data: postData,
                success: function (json) {
                    document.getElementById("cart_quantity").textContent = json.qty;
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.log("Error:", xhr.responseText);
                }
            });
        });
    </script>

    <script>
        function updateVariantDetails() {
            let productID = '{{ object.id }}';
            let optionValues = [];
            $('.product-option').each(function () {
                optionValues.push($(this).val());
            });

            $.ajax({
                url: `/product/${productID}/variant-details/`,
                data: {
                    options: optionValues
                },
                dataType: 'json',
                success: function (data) {
                    debugger
                    if (data.is_on_sale && data.sale_price) {
                        $('#product-price').html(`<s class="fs-4">${data.price} €</s><br><small class="fs-4 text-danger">${data.sale_price} €</small>`);
                    } else {
                        $('#product-price').text(`${data.price} €`);
                    }

                    if (data.sku) {
                        $('.product-sku').html(`<b>Code: </b>${data.sku}`);
                    }

                    if (typeof data.is_available !== 'undefined') {
                        let availabilityText = data.is_available ? 'Yes' : 'No';
                        $('.product-availability').html(`<b>In stock: </b>${availabilityText}`);
                    }
                },
                error: function (xhr) {
                    console.log('Error fetching variant price:', xhr.responseText);
                }
            });
        }

        $(document).ready(function () {
            $('.product-option').on('change', updateVariantDetails);
            updateVariantDetails();  // Initial price load if defaults are selected
        });
    </script>

{% endblock %}




{#        <p class="card-text fs-4"><b>Price: </b>#}
{#        {% if not product.is_on_sale %}#}
{#            {{ product.price }} €#}
{#        {% else %}#}
{##}
{#            <s class="fs-4">{{ product.price }}</s>#}
{#            <br>#}
{#            <small class="fs-4 text-danger">{{ product.sale_price }} €</small>#}
{#        {% endif %}#}
{#    </p>#}


{#    <script>#}
{#        $(document).on('click', '#add-cart', function (e) {#}
{#            e.preventDefault();#}
{##}
{#            let productID = $(this).val();#}
{##}
{#            $.ajax({#}
{#                type: 'POST',#}
{#                url: "{% url 'cart_add' %}",#}
{#                data: {#}
{#                    product_id: productID,#}
{#                    product_qty: $('#qty-cart option:selected').text(),#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                    action: 'post'#}
{#                },#}
{##}
{#                success: function (json) {#}
{#                    document.getElementById("cart_quantity").textContent = json.qty#}
{#                    location.reload();#}
{#                },#}
{##}
{#                error: function (xhr, errmsg, err) {#}
{#                    console.log("Error:", xhr.responseText);#}
{#                }#}
{#            });#}
{#        });#}
{##}
{#    </script>#}

