{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="container product-page mt-5">
        <div class="card mb-3" style="max-width: 1400px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ object.image.url }}" class="img-fluid rounded-start" alt="{{ object.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center>
                            {% if user.is_staff %}
                                <a href="{% url 'product-edit' object.pk %}" class="btn btn-info btn-sm">Edit</a>
                                <a href="{% url 'product-delete' object.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                <a href="{% url 'product-options-create' object.pk %}" class="btn btn-success">Add
                                    option</a>
                                <a href="{% url 'product-variant-create' object.pk %}" class="btn btn-success">Add
                                    variant</a>
                                {% for option in product.product_options.all %}
                                    <a href="{% url 'admin-option-edit' product_id=product.pk option_id=option.pk %}"
                                       class="btn btn-sm btn-primary">
                                        Edit Option
                                    </a>
                                {% endfor %}
                            {% endif %}
                            <h1 class="card-title">{{ object.name }}</h1>
                            <p class="card-text">
                                {{ object.description }}
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();

            let productID = $(this).val();

            $.ajax({
                type: 'POST',
                url: "{% url 'cart_add' %}",
                data: {
                    product_id: productID,
                    product_qty: $('#qty-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function (json) {
                    document.getElementById("cart_quantity").textContent = json.qty
                    location.reload();
                },

                error: function (xhr, errmsg, err) {
                    console.log("Error:", xhr.responseText);
                }
            });
        });

    </script>
{% endblock %}
